* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif; /* クロスプラットフォーム対応 */
  background-color: #121212;
  color: #fff; /* #ffffffの短縮系 */
}

h1,
h2 {
  text-align: center;
  margin: 24px 0 16px 0;
  letter-spacing: 0.2rem;
}

h3 {
  margin: 0;
  padding: 0;
}

/* メインコンテナ */
#homeMenu,
#quizContainer,
#rankingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
  /* max-height: 480px; */
  margin: 0 auto;
}

#quizArea {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}

#answerInput {
  width: 300px;
}

#countdown {
  font-size: 24px;
}

#message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#scoreSaveArea {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#usernameInput {
  width: 200px;
}

button:not(#saveScoreBtn) {
  width: 300px;
  margin: 2.5px 0;
}
